#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# Any changes made here will be lost

auto lo
iface lo inet loopback

{% if ifupdown_network_interfaces | length > 0 %}
########## Network Interfaces
  {% for interface in ifupdown_network_interfaces %}
    {% if interface['configure'] is defined and interface['configure'] %}
      {% if interface['comment'] is defined and interface['comment'] != None %}
# {{ interface['comment'] }}
      {% endif %}
      {% if interface['method']|lower == "static" or interface['method']|lower == "manual" %}
auto {{ interface['name'] }}
iface {{ interface['name'] }} inet {{ interface['method']|lower }}
        {% if interface['address'] is defined and interface['address'] != None %}
  address {{ interface['address'] }}
        {% endif %}
        {% if interface['netmask'] is defined and interface['netmask'] != None %}
  netmask {{ interface['netmask'] }}
        {% endif %}
        {% if interface['gateway'] is defined and interface['gateway'] != None %}
  gateway {{ interface['gateway'] }}
        {% endif %}
      {% endif %}
      {% if interface['method']|lower == "dhcp" %}
auto {{ interface['name'] }}
iface {{ interface['name'] }} inet {{ interface['method']|lower }}
      {% endif %}
      {% if interface['wireless_network'] is defined and interface['wireless_network'] %}
  wpa-ssid {{ interface['wpa_ssid'] }}
  wpa-psk {{ interface['wpa_psk'] }}
      {% endif %}
      {% if interface['parameters'] is defined and interface['parameters'] != None %}
        {% for param in interface['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
     {%endif %}

  {% endfor %}
########## End of Network Interfaces
{% endif %}

{% if ifupdown_network_bonds | length > 0 %}
########## Network Bonds
  {% for bond in ifupdown_network_bonds %}
    {% if bond['configure'] is defined and bond['configure'] %}
      {% if bond['comment'] is defined and bond['comment'] != None %}
# {{ bond['comment'] }}
      {% endif %}
auto {{ bond['name'] }}
iface {{ bond['name'] }} inet {{ bond['method']|lower }}
      {% if bond['method']|lower == 'static' %}
        {% if bond['address'] is defined and bond['address'] != None %}
  address {{ bond['address'] }}
        {% endif %}
        {% if bond['netmask'] is defined and bond['netmask'] != None %}
  netmask {{ bond['netmask'] }}
        {% endif %}
        {% if bond['gateway'] is defined and bond['gateway'] != None %}
  gateway {{ bond['gateway'] }}
        {% endif %}
      {% endif %}
      {% if bond['slaves'] is defined and bond['slaves'] != None %}
  bond_slaves {{ bond['slaves']|join (' ') }}
      {% endif %}
      {% if bond['parameters'] is defined and bond['parameters'] != None %}
        {% for param in bond['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
    {% endif %}

  {% endfor %}
########## End of Network Bonds
{% endif %}

{% if ifupdown_network_vlans | length > 0 %}
########## Network VLANS
  {% for vlan in ifupdown_network_vlans %}
    {% if vlan['configure'] is defined and vlan['configure'] %}
      {% if vlan['comment'] is defined %}
# {{ vlan['comment'] }}
      {% endif %}
      {% if vlan['method']|lower == "static" or vlan['method']|lower == "manual" %}
auto {{ vlan['name'] }}
iface {{ vlan['name'] }} inet {{ vlan['method']|lower }}
        {% if vlan['address'] is defined and vlan['address'] != None %}
  address {{ vlan['address'] }}
        {% endif %}
        {% if vlan['netmask'] is defined and vlan['netmask'] != None %}
  netmask {{ vlan['netmask'] }}
        {% endif %}
        {% if vlan['gateway'] is defined and vlan['gateway'] != None %}
  gateway {{ vlan['gateway'] }}
        {% endif %}
      {% endif %}
      {% if vlan['method']|lower == "dhcp" %}
auto {{ vlan['name'] }}
iface {{ vlan['name'] }} inet {{ vlan['method']|lower }}
      {% endif %}
      {% if vlan['parameters'] is defined and vlan['parameters'] != None %}
        {% for param in vlan['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
  vlan_raw_device {{ vlan['vlan_device'] }}
    {% endif %}

  {% endfor %}
########## End of Network VLANS
{% endif %}

{% if ifupdown_network_bridges | length > 0 %}
########## Network Bridges
  {% for bridge in ifupdown_network_bridges %}
    {% if bridge['configure'] is defined and bridge['configure'] %}
      {% if bridge['comment'] is defined %}
# {{ bridge['comment'] }}
      {% endif %}
      {% if bridge['method']|lower == "static" or bridge['method']|lower == "manual" %}
auto {{ bridge['name'] }}
iface {{ bridge['name'] }} inet {{ bridge['method']|lower }}
        {% if bridge['address'] is defined and bridge['address'] != None %}
  address {{ bridge['address'] }}
        {% endif %}
        {% if bridge['netmask'] is defined and bridge['netmask'] != None %}
  netmask {{ bridge['netmask'] }}
        {% endif %}
        {% if bridge['gateway'] is defined and bridge['gateway'] != None %}
  gateway {{ bridge['gateway'] }}
        {% endif %}
      {% endif %}
      {% if bridge['method']|lower == "dhcp" %}
auto {{ bridge['name'] }}
iface {{ bridge['name'] }} inet {{ bridge['method']|lower }}
      {% endif %}
      {% if bridge['parameters'] is defined and bridge['parameters'] != None %}
        {% for param in bridge['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
  bridge_ports {{ bridge['ports']|join(' ') }}
    {% endif %}

  {% endfor %}
########## End of Network Bridges
{% endif %}

{% if ifupdown_ovs_bonds | length > 0 %}
########## OVS Bonds
  {% for ovs_bond in ifupdown_ovs_bonds %}
    {% if ovs_bond['configure'] is defined and ovs_bond['configure'] %}
      {% if ovs_bond['comment'] is defined %}
# {{ ovs_bond['comment'] }}
      {% endif %}
allow-{{ ovs_bond['bridge'] }} {{ ovs_bond['name'] }}
iface {{ ovs_bond['name'] }} inet {{ ovs_bond['method']|lower }}
      {% if ovs_bond['method']|lower == "static" or ovs_bond['method']|lower == "manual" %}
        {% if ovs_bond['address'] is defined and ovs_bond['address'] != None %}
  address {{ ovs_bond['address'] }}
        {% endif %}
        {% if ovs_bond['netmask'] is defined and ovs_bond['netmask'] != None %}
  netmask {{ ovs_bond['netmask'] }}
        {% endif %}
        {% if ovs_bond['gateway'] is defined and ovs_bond['gateway'] != None %}
  gateway {{ ovs_bond['gateway'] }}
        {% endif %}
      {% endif %}
      {% if ovs_bond['parameters'] is defined and ovs_bond['parameters'] != None %}
        {% for param in ovs_bond['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
  ovs_bridge {{ ovs_bond['bridge'] }}
  ovs_type OVSBond
  ovs_bonds {{ ovs_bond['ports']|join(' ') }}
      {% if ovs_bond['options'] is defined %}
  ovs_options {% for ovs_bond_option in ovs_bond['options'] %}{{ ovs_bond_option['opt'] }}={{ ovs_bond_option['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

      {% endif %}
    {% endif %}

  {% endfor %}
########## End of OVS Bonds
{% endif %}

{% if ifupdown_ovs_bridges | length > 0 %}
########## OVS Bridges
  {% for ovs_bridge in ifupdown_ovs_bridges %}
    {% if ovs_bridge['configure'] is defined and ovs_bridge['configure'] %}
      {% if ovs_bridge['comment'] is defined %}
# {{ ovs_bridge['comment'] }}
      {% endif %}
auto {{ ovs_bridge['name'] }}
allow-ovs {{ ovs_bridge['name'] }}
iface {{ ovs_bridge['name'] }} inet {{ ovs_bridge['method']|lower }}
      {% if ovs_bridge['method']|lower == "static" or ovs_bridge['method']|lower == "manual" %}
        {% if ovs_bridge['address'] is defined and ovs_bridge['address'] != None %}
  address {{ ovs_bridge['address'] }}
        {% endif %}
        {% if ovs_bridge['netmask'] is defined and ovs_bridge['netmask'] != None %}
  netmask {{ ovs_bridge['netmask'] }}
        {% endif %}
        {% if ovs_bridge['gateway'] is defined and ovs_bridge['gateway'] != None %}
  gateway {{ ovs_bridge['gateway'] }}
        {% endif %}
      {% endif %}
      {% if ovs_bridge['parameters'] is defined and ovs_bridge['parameters'] != None %}
        {% for param in ovs_bridge['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
  ovs_type OVSBridge
  ovs_ports {{ ovs_bridge['ports']|join(' ') }}
      {% if ovs_bridge['options'] is defined %}
  ovs_options {% for ovs_bridge_option in ovs_bridge['options'] %}{{ ovs_bridge_option['opt'] }}={{ ovs_bridge_option['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

      {% endif %}
    {% endif %}

  {% endfor %}
########## End of OVS Bridges
{% endif %}

{% if ifupdown_ovs_interfaces | length > 0 %}
########## OVS Interfaces
  {% for ovs_interface in ifupdown_ovs_interfaces %}
    {% if ovs_interface['configure'] is defined and ovs_interface['configure'] %}
      {% if ovs_interface['comment'] is defined %}
# {{ ovs_interface['comment'] }}
      {% endif %}
auto {{ ovs_interface['name'] }}
allow-{{ ovs_interface['bridge'] }} {{ ovs_interface['name'] }}
iface {{ ovs_interface['name'] }} inet {{ ovs_interface['method']|lower }}
      {% if ovs_interface['method']|lower == "static" or ovs_interface['method']|lower == "manual" %}
        {% if ovs_interface['address'] is defined and ovs_interface['address'] != None %}
  address {{ ovs_interface['address'] }}
        {% endif %}
        {% if ovs_interface['netmask'] is defined and ovs_interface['netmask'] != None %}
  netmask {{ ovs_interface['netmask'] }}
        {% endif %}
        {% if ovs_interface['gateway'] is defined and ovs_interface['gateway'] != None %}
  gateway {{ ovs_interface['gateway'] }}
        {% endif %}
      {% endif %}
      {% if ovs_interface['parameters'] is defined and ovs_interface['parameters'] != None %}
        {% for param in ovs_interface['parameters'] %}
  {{ param['param'] }} {{ param['val'] }}
        {% endfor %}
      {% endif %}
  ovs_bridge {{ ovs_interface['bridge'] }}
  ovs_type OVSIntPort
      {% if ovs_interface['options'] is defined %}
  ovs_options {% for ovs_interface_option in ovs_interface['options'] %}{{ ovs_interface_option['opt'] }}={{ ovs_interface_option['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

      {% endif %}
    {% endif %}

  {% endfor %}
########## End of OVS Interfaces
{% endif %}

{% if ifupdown_ovs_ports | length > 0 %}
########## OVS Ports
{%   for ovs_port in ifupdown_ovs_ports %}
{%     if ovs_port['configure'] is defined and ovs_port['configure'] %}
{%       if ovs_port['comment'] is defined %}
# {{ ovs_port['comment'] }}
{%       endif %}
auto {{ ovs_port['name'] }}
allow-{{ ovs_port['bridge'] }} {{ ovs_port['name'] }}
iface {{ ovs_port['name'] }} inet {{ ovs_port['method']|lower }}
  ovs_bridge {{ ovs_port['bridge'] }}
  ovs_type OVSPort
{%       if ovs_port['options'] is defined %}
  ovs_options {% for ovs_port_option in ovs_port['options'] %}{{ ovs_port_option['opt'] }}={{ ovs_port_option['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

{%       endif %}
{%     endif %}

{%   endfor %}
########## End of OVS Ports
{% endif %}

{% if ifupdown_dns_nameservers is defined and ifupdown_dns_nameservers != [] %}
dns-nameservers {{ ifupdown_dns_nameservers|join (' ') }}
{% endif %}
{% if ifupdown_dns_search is defined %}
dns-search {{ ifupdown_dns_search }}
{% endif %}

source /etc/network/interfaces.d/*
